body {
  width: 100%;
  height: 5000px;
}

body,ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  width: 100px;
  float: left;
  margin-right: 14px;
}

li {
  display: inline-block;
  position: relative;
  height: 200px;
  background: green;
}

.scroll-wrap {
  position: relative;
  float: left;
  width: 200px;
  height: 600px;
  margin-right: 20px;
  background: pink;
  overflow-y: auto;
}

.wrap {
  position: relative;
  float: left;
  background: pink;
  width: 600px;
  height: 1000px;
}

.demo {
  display: block;
  background: gray;
  width: 100px;
  margin-right: 14px;
  overflow: hidden;
  border: 2px solid #f60;
}

.affix-horizontal div {
  display: inline-block;
}

.affix {
  background: blue;
}

.demo .cont {
  width: 100px;
  height: 600px;
  background: red;
}

.demo1 {
  width: 100px;
  background: gray;
}

.demo2 {
  float: '';
  width: 100px;
  height: 20px;
  margin-right: 0;
  background: blue;
}

.demo2 .cont {
  height: 20px;
}

.demo3 {
  width: 100px;
  margin-top: 200px;
}

.demo4 {
  width: 100px;
}

.demo5 {
  height: 2000px;
}

.btn-group {
  position: fixed;
  right: 60px;
  bottom: 60px;
  zIndex: 100;
}